In [3]:
import pandas as pd
from pykrx import stock

In [4]:
stock_info = stock.get_market_ohlcv_by_date("20200101", "20220630", "005930")

In [6]:
stock_info.reset_index()

            날짜     시가     고가     저가     종가       거래량
0   2020-01-02  55500  56000  55000  55200  12993228
1   2020-01-03  56000  56600  54900  55500  15422255
2   2020-01-06  54900  55600  54600  55500  10278951
3   2020-01-07  55700  56400  55600  55800  10009778
4   2020-01-08  56200  57400  55900  56800  23501171
..         ...    ...    ...    ...    ...       ...
612 2022-06-24  57900  59100  57700  58400  23256103
613 2022-06-27  59000  59900  58300  58800  18122236
614 2022-06-28  59200  59500  58700  59400  13540538
615 2022-06-29  58500  58800  58000  58000  14677138
616 2022-06-30  57200  57600  57000  57000  18915142

[617 rows x 6 columns]